/* ===== NPROGRESS CUSTOM SAMOSIR TOUR ===== */

/* Bar utama */
#nprogress .bar {
  background: linear-gradient(to right, #fff, #969595) !important;
  height: 3px !important;
}

/* Ujung bar (glow effect) */
#nprogress .peg {
  box-shadow: 0 0 10px #ffffff, 0 0 5px #969595 !important;
}

/* Spinner (dimatikan) */
#nprogress .spinner {
  display: none !important;
}
