#nprogress .bar {
  background: linear-gradient(to right, #fff, #969595) !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ffffff, 0 0 5px #969595 !important;
}

#nprogress .spinner {
  display: none !important;
}
